body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('webbo.jpg'); /* Replace 'background-image.jpg' with your image file path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: rgba(11, 1, 8, 0.7);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    list-style: none;
    padding: 0;
}

.dropdown:hover .submenu {
    display: block;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin-top: 20px;
}

footer {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #0077b6;
}

a:hover {
    color: #005f8f;
}

.h1{

    color: darkred;
}
.section{

    baccolor: black;
}